.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.quiz-container {
    font-size: 25px;
    color: rgb(98, 43, 150);
}

.nav-container a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid lightslategray;
    border-radius: 5px;
    font-size: 25px;
    color: black;

}

.header-area-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 70px 20px 50px 150px;
    background-color: rgb(224, 224, 224);
}

.home-text {
    text-align: left;
}

.home-text h2 {
    font-size: 70px;
    margin-bottom: 10px;
}

.home-text p {
    font-size: 25px;
}

.image-container img {
    width: 70%;
}

.btn-container {
    padding: 15px 30px;
    border-radius: 7px;
    border: 3px solid black;
}